#root {
	width: 100%;
	text-align: center;
	min-height: 100vh;
	background-color: rgb(46, 49, 88);
}
/* rgb(200, 193, 207); */
.home-page-btn {
	display: flex;
	flex-direction: column;
	font-size: 2em;
}

.home-page-btn button {
	width: 60%;
	position: relative;
	margin: 20px;
	border: none;
	border-radius: 40px;
	padding: 15px 30px;
	color: aliceblue;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	overflow: hidden;
}

.home-page-btn button:hover {
	transform: translateY(-5px);
	box-shadow: 0 12px 20px rgba(255, 255, 255, 0.267);
}

.home-page-btn button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 0;
}

.btn-all-songs,
.btn-all-decades,
.btn-rdm-songs,
.btn-fav-songs,
.btn-add-songs {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}

.btn-all-songs {
	background-image: url('src/assets/allsongs.avif');
	background-position: right center;
}

.btn-all-decades {
	background-image: url('src/assets/decades.avif');
	background-position: right center;
}

.btn-rdm-songs {
	background-image: url('src/assets/random.avif');
	background-position: right -150px;
}

.btn-fav-songs {
	background-image: url('src/assets/favorites.avif');
	background-position: right center;
}
.btn-add-songs {
	background-image: url('src/assets/addsongs.jpg');
	background-position: center;
}

.home-page-btn button h2,
.home-page-btn button p {
	position: relative;
	z-index: 1;
}

/* footer */
.footer {
	background-color: aliceblue;
	height: 7vh;
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}
.footer img {
	width: 40px;
	height: 40px;
	margin: 1.5vh 1vw;
}
.footer h5 {
	
	color: black;
}

.footer a {
	display: flex;
	color: #333;
}
/* About page */
.aboutUs {
	color: aliceblue;
	margin: 5vh 10vw;
	min-height: 64.5vh;
}

.p-indent {
	text-indent: 40px;
}
.container-about {
	border: 3px solid white;
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 20px;
}
.container-about img {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
.container-about h5 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 15px;
	padding: 5px 30px;
}

.random-song-div {
	min-height: 71.5vh;
	color: black;
	width: 70%;
	margin: 0 auto;
	background-color: aliceblue;
	padding: 1vh 0vw;
}

.random-song-div img {
	height: 40vh;
	width: auto;
	max-width: 100%;
	object-fit: cover;
	padding-right: 3vw;
}

.random-song-info-container {
	display: flex;
	flex-direction: row-reverse;
	margin: 5vh 0vw;
	width: 100%;
	justify-content: space-between;
}
.random-song-info {
	text-align: left;
	font-size: 1.3em;
	padding-left: 10vh;
}

.nav {
	position: relative;
	height: 15vh;
	width: 100%;
	background: rgb(79, 12, 134);
	background: linear-gradient(
		50deg,
		rgba(79, 12, 134, 1) 17%,
		rgba(121, 14, 137, 1) 43%,
		rgba(16, 18, 143, 1) 69%,
		rgba(0, 212, 255, 1) 100%
	);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.nav a {
	color: aliceblue;
	transition: transform 0.3s ease;
	overflow: hidden;
	font-size: 1.2em;
}

.nav a:hover {
	transform: translateY(-5px);
}

.navbar-icons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	color: aliceblue;
}
.random-btn {
	font-size: 1.3em;
	color: aliceblue;
	background: rgb(79, 12, 134);
	background: linear-gradient(
		50deg,
		rgba(79, 12, 134, 1) 17%,
		rgba(121, 14, 137, 1) 43%,
		rgba(0, 212, 255, 1) 100%
	);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
	margin: 2vh;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	overflow: hidden;
}

.random-btn:hover {
	transform: translateY(-5px);
	box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
}

.hr-random {
	width: 80%;
}

.for-all-divs {
	min-height: 73.5vh;
	color: black;
	width: 70%;
	margin: 0 auto;
	background-color: aliceblue;
	padding: 1vh 0vw;
}

/* decades */

.decades-bts button {
	width: 40%;
	position: relative;
	margin: 20px;
	border: none;
	border-radius: 40px;
	padding: 15px 30px;
	color: white;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	overflow: hidden;
	background-size: cover;
}

.decades-bts button:hover {
	transform: translateY(-5px);
	box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.decades-bts button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: -0.5;
}

.decades-bts button h2,
.decades-bts button p {
	position: relative;
	z-index: 1;
}

.btn-80 {
	background-image: url('https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-position: right center;
}

.btn-90 {
	background-image: url('https://images.unsplash.com/photo-1453738773917-9c3eff1db985?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-position: right -70px;
}
.btn-00 {
	background-image: url('https://images.unsplash.com/photo-1619983081563-430f63602796?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-position: right center;
}
.btn-10 {
	background-image: url('https://images.unsplash.com/photo-1470259078422-826894b933aa?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-position: right center;
}
.btn-20 {
	background-image: url('https://images.unsplash.com/photo-1511367734837-f2956f0d8020?q=80&w=2005&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-position: right center;
}


.all-songs-info-container {
	border-bottom: 1px solid grey;
	color: #333;
}

.for-all-songs-btn {
	background: none;
	color: black;
	border: none;
	margin: 0;
}

.for-all-songs-btn:hover {
	color: rgba(79, 12, 134, 1);
	border: none;
}

.for-all-songs-btn:focus,
.for-all-songs-btn:focus-visible {
  outline: none;
}

.one-song-info button{
padding: 3px;
}

.links-songs {
	color: black;
}
.links-songs :hover {
	color: rgba(79, 12, 134, 1);
}

.one-song-detail img {
	height: 40vh;
	width: auto;
	max-width: 100%;
	object-fit: cover;
}

.sign-up-form {
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: 0 auto;
}
.sign-up-form input {
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: 1vh;
	text-align: center;
}

.sign-up-form button {
	font-size: 1.3em;
	color: aliceblue;
	background: rgb(79, 12, 134);
	background: linear-gradient(
		50deg,
		rgba(79, 12, 134, 1) 17%,
		rgba(121, 14, 137, 1) 43%,
		rgba(0, 212, 255, 1) 100%
	);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
	margin: 2vh;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	overflow: hidden;
}

.sign-up-form button:hover {
	transform: translateY(-5px);
	box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
}

.logout-btn {
	background: none;
	color: aliceblue;
	transition: transform 0.3s ease;
	overflow: hidden;
	font-size: 1.2em;
	border: none;
}

.logout-btn:hover {
	transform: translateY(-5px);
	color: #712285;
	border: none;
}

.trivia-box {
	border: 2px solid #712285;
	border-radius: 10px;
	padding: 0 2vw 1vh;
	margin: 5vh auto;
	width: 80%;
	background-color: #f9f6fc;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.trivia-box h4 {
	text-align: center;
	color: #712285;
	font-size: 1.4em;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 5px;
	text-decoration:underline;
}

.trivia-section {
	margin: 0 auto 20px;
	width: 40%;
}
.trivia-box-inside{
	width: 100%;
	display:flex;
	justify-content: space-evenly;
}
.trivia-title {
	font-weight: bold;
	color: #712285;
	font-size: 1.2em;
	margin-bottom: 5px;
}

.trivia-content {
	font-size: 1em;
	color: #333;
	line-height: 1.5;
	background: #e8dff1;
	padding: 10px;
	border-radius: 5px;
	margin: 10px;
}

.vl {
	border-left: 2px solid #712285;
	height: 26vh;
	margin: 0 2vw 2vh;
  }

.small-text-license{
	font-size: small;
	margin: 0;
	width: 80%;
}

.logo{
	max-height:15vh;
}

.add-song-form{
	margin: 0 auto;
	width: 70%;
	text-align: left;
}



/*user profile*/
.user-profile-page{
	display: flex;
	margin: 3vh auto;
	justify-content: space-between;
}
.user-profile-box{
	width: 40%;
	margin: 0 auto;
	padding: 3px;
}

.user-profile-1:first-child{
	width: 50%;
	margin-left: 5vw;
}

.user-profile-box img{
max-width: 75%;
max-height: 50%;
border-image: linear-gradient(rgba(79, 12, 134, 1), rgba(121, 14, 137, 1), rgba(0, 212, 255, 1)) 30;
border-width: 10px;
border-style: solid;
}
.user-profile-1 hr{
width: 100%;
}

.user-info{
	width: 100%;
	text-align: left;	
}

.user-info-small{
	width: 80%;
	text-align: left;
	font-size: 0.8em;
	margin: 0 auto;
	line-height: 1em;
}


.favorite-song-user{
	border-bottom:1px dashed #303169;
	padding:1vh 1vw;	
}
.div-for-scroll{
	width: 100%;
	max-height: 250px;
	overflow-y: scroll;
	border: 1px solid #712285;
	-ms-overflow-style: none;
  scrollbar-width: none;
}

.fav-songs-specific{
	display:flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
}

.fav-songs-specific div{
	width: 25%;
}

.logo-favs{
	height:100px;	
}

.added-song-user{
	min-width: 300px;
	border-bottom:1px dashed #303169;
	padding:1vh 1vw;	
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

/* Add page */
.add-song-page {
	width: 70%;
	margin: 0 auto;
	background-color: aliceblue;
	padding: 2vh 2vw;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	color: black;
	text-align: left;
  }
  
  .add-song-page h1 {
	text-align: center;
	color: #712285;
	margin-bottom: 2vh;
  }
  
  .add-song-form label {
	display: block;
	margin-bottom: 1em;
	color: #303169;
  }
  
  .add-song-form input,
  .add-song-form select {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.432);
	color: #303169;
	font-size: 1em;
  }
  
  .add-song-form button {
	display: block;
	width: fit-content;
	margin: 2vh auto;
	padding: 10px 20px;
	background: rgb(79, 12, 134);
	background: linear-gradient(
	  50deg,
	  rgba(79, 12, 134, 1) 17%,
	  rgba(121, 14, 137, 1) 43%,
	  rgba(0, 212, 255, 1) 100%
	);
	color: aliceblue;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.2em;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .add-song-form button:hover {
	transform: translateY(-5px);
	box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
  }
  
  .add-song-page a {
	display: block;
	text-align: center;
	margin-top: 2vh;
	color: rgba(79, 12, 134, 1);
	text-decoration: none;
	transition: color 0.3s ease;
  }
  
  .add-song-page a:hover {
	color: rgba(121, 14, 137, 1);
  }
  
  .add-song-form textarea {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.1);
	color: #303169;
	font-size: 1em;
  }